{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
<!-- 	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

/* 		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block; */
		}
	</style> -->

	<script type="text/paperscript" canvas="myCanvas">
    var myPath;
    var penWidth = 10;
    function onMouseDown(event) {
      if (window.mode == "pen") {
        myPath = new Path();
        myPath.strokeColor = "black";
        myPath.strokeWidth = penWidth;
      } else if (window.mode == "eraser") {
        myPath = new Path();
        myPath.strokeColor = "white";
        myPath.strokeWidth = 100;
      }
    }
    function onMouseDrag(event) {
      myPath.add(event.point);
    }
	</script>
  <script type="text/javascript">
    window.onload = function() {
      window.mode = "pen";
      document.getElementById('eraser').onclick = function () {
        window.mode = "eraser";
      }
      document.getElementById('pen').onclick = function () {
        window.mode = "pen";
      }
    }
  </script>
</head>
<body>	
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-sm-3">
            <h3 align="center">TOOLS</h3>
            <div class="row" align="center">
              <input id="pen" type="button" value="PEN"/>
              <input id="eraser" type="button" value="ERASER"/>
            </div>
            <div id="color-palette"></div>
          </div>
          <div class="col-sm-6">
            <h3 align="center">CANVAS</h3>
            <div class="row" align="center" height="650px" style="border:1px solid #000000;">
              
              <canvas id="myCanvas" width="300px" height="650px" style="border:1px solid #000000;"></canvas>

            </div>
            <div class="row" align="center">
              <input id="save" type="button" value="SAVE"/>
            </div>
          </div>
          <div class="col-sm-3">
            <h3 align="center">STYLE</h3> 
          </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>